.controls {
	width: 400px;
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
}

.controls__button {
	border-radius: 3px;
	background: $darkGreen;
	color: $pureWhite;
	border: none;
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
	outline: none;
	box-shadow: 0 3px 1px 0 darken($color: $darkGreen, $amount: 30);

	&:hover {
		background: darken($color: $darkGreen, $amount: 10);
	}

	&:active {
		background: darken($color: $darkGreen, $amount: 20);
		transform: translateY(3px);
		box-shadow: none;
	}
}
