* {
	box-sizing: border-box;
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
	background: $white;
	font-family: $sansSerif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
