@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Roboto+Slab:wght@500&display=swap');

$serif: 'Roboto Slab', serif;
$sansSerif: 'Inria Sans', sans-serif;

$pureWhite: #FFF;
$pureBlack: #000;
$white: #DDD;
$black: #222;

$lightGreen: #CFF09E;
$green: #A8DBA8;
$darkGreen: #79BD9A;
$lightBlue: #3B8686;
$darkBlue: #0B486B;
